<button class="welcome-message-btn" *ngIf="!isHideWelconeMessageBtn" (click)="showTemplateLookup(constants.Template.Type.whatsAppTemplate)">{{translateRecord.getTranslateWord(locale, 'template')}}</button>

<div *ngIf="isHideWelconeMessageBtn">
    <mat-grid-list cols="20" rowHeight="fit">
        <mat-grid-tile [colspan]="2">
            <button class="footer-btn" (click)="showTemplateLookup(constants.Template.Type.textTemplate)">
                <mat-icon>textsms</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="14"> 
            <textarea
                lines="5"
                #input
                class="message-input"
                id="main-input-message"
                placeholder="{{translateRecord.getTranslateWord(locale, 'placeholder')}}"
                (keydown.enter)="createNewMessage(input.value, $event)"
                (keyup)="onChangeInputSize($event)"
            ></textarea>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4"> 
            <input type="file" class="footer-btn" id="inputFile" (change)="createNewMediaMessage($event)" style="display: none;" >
            <label for="inputFile" class="footer-btn">
                <mat-icon>attach_file</mat-icon>
            </label>
            <button class="footer-btn" (click)="createNewMessage(input.value, $event)">
                <mat-icon>send</mat-icon>
            </button>
        </mat-grid-tile>    
    </mat-grid-list>
</div> 