<mat-grid-list cols="6" rowHeight="fit">
    <mat-grid-tile [rowspan]="2" [colspan]="1">
        <button class="bar-button" (click)="backToAllList()">
            <mat-icon>keyboard_backspace</mat-icon>
            <i class="arrow left"></i>
        </button>
    </mat-grid-tile>    
    <mat-grid-tile [rowspan]="1" [colspan]="4">
        <div class="name" (click)="onOpenCard({id: chat.contact.id, schemaName: 'Contact'})" >
            <p class="name-text">{{ chat.contact?.name }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="2" [colspan]="1">
        <button [matMenuTriggerFor]="moreVert" class="bar-button">
            <mat-icon id="btn-show-related-links">more_vert</mat-icon>
        </button>
        <mat-menu #moreVert="matMenu">
            <div class="change-operator-button-menu-item-container">
                <p *ngIf="chat && chat.chat && chat.chat.ownerName" class="owner-text" [matTooltip]="chat.chat.ownerName">
                    {{chat.chat.ownerName}}
                </p>
                <button class="change-operator-button-menu-item" mat-menu-item (click)="onChangeOperatorClick()">{{translateRecord.getTranslateWord(locale, 'changeoperatorbuttoncaption')}}</button>
            </div>
            <mat-divider *ngIf="chatRelatedLinks && chatRelatedLinks.length"></mat-divider>
            <button *ngFor="let item of chatRelatedLinks" mat-menu-item (click)="onOpenCard({id: item.name, schemaName: item.schemaName})">{{item.displayName}}</button>
        </mat-menu>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="4">
        <div class="name" (click)="onOpenCard({id: chat.chat.id, schemaName: 'GoMsgChat'})">
            <p class="chat-name-text">{{ chat.chat?.name }}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

