<mat-grid-list cols="9" rowHeight="fit">
    <mat-grid-tile [rowspan]="2" [colspan]="1">
        <button class="bar-button" (click)="backToAllList($event)">
            <i class="arrow left"></i>
        </button>
    </mat-grid-tile>    
    <mat-grid-tile [rowspan]="1" [colspan]="6">
        <div class="name" (click)="onOpenCard({id: chat.contact.id, schemaName: 'Contact'})" >
            <p class="name-text">{{ chat.contact.name }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="4">
        <div class="name" (click)="onOpenCard({id: chat.chat.id, schemaName: 'GoMsgChat'})">
            <p class="chat-name-text">{{ chat.chat.name }}</p>
        </div>
    </mat-grid-tile>
        <div class="right-button">
            <button class="bar-button" (click)="showRelatedLinks()">
                <mat-icon style="font-size: 30px;">more_vert</mat-icon>
            </button>
            <div class="dropdown-content" *ngIf="isShowRelatedLinks">
                <div *ngFor="let item of relatedLinks">
                    <a href="#">{{item}}</a>
                </div>
            </div>
        </div>
</mat-grid-list>

