<mat-grid-list cols="7" rowHeight="fit">
    <mat-grid-tile [rowspan]="2" [colspan]="1">
        <button class="bar-button" (click)="backToAllList()">
            <i class="arrow left"></i>
        </button>
    </mat-grid-tile>    
    <mat-grid-tile [rowspan]="1" [colspan]="4">
        <div class="name" (click)="onOpenCard({id: chat.contact.id, schemaName: 'Contact'})" >
            <p class="name-text">{{ chat.contact?.name }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="2" [colspan]="1">
        <button class="bar-button change-operator-button"  (click)="showChangeOperator()">

        </button>
        <div class="dropdown-content" *ngIf="isShowChangeOperator">
            <div (clickOutside)="hideRelatedLinksByOutsideClick($event)">
                <div>
                    <p (click)="onChangeOperatorClick()">{{translateRecord.getTranslateWord(locale, 'changeoperatorbuttoncaption')}}</p>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="2" [colspan]="1">
        <button class="bar-button" (click)="showRelatedLinks()">
            <mat-icon style="font-size: 30px;" id="btn-show-related-links">more_vert</mat-icon>
        </button>
        <div class="dropdown-content" *ngIf="isShowRelatedLinks">
            <div (clickOutside)="hideRelatedLinksByOutsideClick($event)">
                <div *ngFor="let item of chatRelatedLinks">
                    <p *ngIf="item.displayName !== ''" (click)="onOpenCard({id: item.name, schemaName: item.schemaName})">{{item.displayName}}</p>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="4">
        <div class="name" (click)="onOpenCard({id: chat.chat.id, schemaName: 'GoMsgChat'})">
            <p class="chat-name-text">{{ chat.chat?.name }}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

