<div class="container" (scroll)="onScroll($event)">
    <div class="conversation-list" *ngFor="let chat of chatList">
        <div class="conversation" [id]="chat.id" (click)="showChatHandle({chatId: chat.id})">
            <div [class]="chat.channel.code == 'telegram' ? 'telegram-icon' : 'whatsapp-icon'"></div>
            <div class="conversation-text">
                <div class="conversation-title">{{ chat.contact.name }}</div>
                <div class="conversation-title">{{ chat.channel.name }}</div>
            </div>
            <div class="conversation-image-div">
                <mat-icon matBadge="{{chat.unreadCount > 0 ? chat.unreadCount : ''}}" matBadgeColor="warn">chat_bubble</mat-icon>
            </div>
        </div>
    </div>
</div>