<div class="container">
    <app-angular-chat-list-chats *ngIf="isShowChatList" [chatList]="chatList"
        [selectedChatId]="_selectedChatId"
        (showChat)="showChat($event)"
        (loadMoreChats)="loadMoreChats()"
    ></app-angular-chat-list-chats>

    <mat-grid-list *ngIf="!isShowChatList" cols="1" rowHeight="fit" class="test">
        <mat-grid-tile [rowspan]="rowSpanHeader">
            <app-angular-chat-header
                [chat]="chat"
                [chatRelatedLinks]="chatRelatedLinks"
                [sandbox]="sandbox"
                [terrasoft]="terrasoft"
                [serviceHelper]="serviceHelper"
                [locale]="locale"
                (cardClick)="onOpenCard($event)"
                (backToListChat)="showChatList()"
            ></app-angular-chat-header>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="rowSpanMessages">
            <app-angular-chat-messages
                [chat]="chat"
                [locale]="locale"
                [serviceHelper]="serviceHelper"
            ></app-angular-chat-messages>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="rowSpanFooter">    
            <app-angular-chat-footer
                [chat]="chat"
                [locale]="locale"
                [sandbox]="sandbox"
                [terrasoft]="terrasoft"
                [serviceHelper]="serviceHelper"
                (editRowspanInput)="onEditRowSpanFooter()"
                (deleteRowspanInput)="onDeleteRowSpanFooter()"
                (resetRowspanInput)="onResetRowSpanFooter()"
                (refresMessages)="onRefreshMessages($event)"
            ></app-angular-chat-footer>
        </mat-grid-tile>           
    </mat-grid-list>    
</div>