.mat-grid-list {
    position: unset;
}

.mat-grid-tile-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0px;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100%;
    width: 99%;
}